{% extends 'base.html.twig' %}
{% block body %}

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="card-panel teal lighten-2">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div id="tableMessage">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons" style="color: green;">comment</i>Name</div>
                        <div class="collapsible-body">
                            <p><span>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</span>
                            </p>
                            <p>
                            <div class="right-align">
                                <a href="#"><i class="material-icons">delete</i></a>
                                <a class="answerMsg" href="#!"><i class="material-icons">mode edit</i></a>
                            </div>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons commentHeader">comment</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                </ul>
            </div>
            <div id="formArea">
                {{ form_start(form) }}
                <h3 class="teal-text text-darken-1">Send a message</h3>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    {{ form_widget(form.subject) }}
                    {{ form_label(form.subject) }}
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    {{ form_widget(form.recipient) }}
                    {{ form_label(form.recipient) }}
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">mode_edit</i>
                    {{ form_widget(form.content) }}
                    {{ form_label(form.content) }}
                </div>
                <input type="submit" value="send" class="waves-effect waves-light btn"><i class="material-icons left">send</i>
                <a href="#!" id="seeMessage" class="waves-effect waves-light btn"><i class="material-icons left">comment</i>messages</a>

            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/inbox.js') }}"></script>
{% endblock %}